.a {
    background: whitesmoke;
    color: darkslategray;
    border: 5px solid teal;
    padding: 15px;
    width: 100%;
    margin: 5px;
}

.b {
    background: red;
    color: darkslategray;
    border: 5px solid teal;
    padding: 15px;
    width: 100%;
    margin: 5px;
}

.c {
    background: grey;
    color: wheat    ;
    border: 5px solid teal;
    padding: 15px;
    width: 100%;
    margin: 5px;
}

#sidebar {
    background-color: slategray;
    width: 20%;
}

.content {
    width:100%;
}

#oneone{
    margin: auto;
}

.d {
    background: aqua;
    border-radius: 25px;
    box-shadow: 10px 10px 10px;
    width:33%;
    height: 200px;
    margin: 20px;
}

/*use these styles on large screens*/
@media screen and (min-width: 768px) {
    .columns{
        display: flex;
    }

    .one{
        flex: 1;
    }

    .two{
        flex: 2;
    }
    .three{
        flex: 3;
    }
    .four{
        flex: 4;
    }
}

@keyframes bounse {
    0% {background-color: red;}
    25% {background-color: orangered;}
    50% {background-color: yellow;}
    80% {background-color: green;}
}

#ball {
  background-color: red;
  animation-name: bounse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  width:100px;
  height:100px;
}