.a {
    background: whitesmoke;
    color: darkslategray;
    border: 5px solid teal;
    padding: 15px;
    width: 100%;
    margin: 5px;
}

.b {
    background: red;
    color: darkslategray;
    border: 5px solid teal;
    padding: 15px;
    width: 100%;
    margin: 5px;
}

.c {
    background: grey;
    color: wheat    ;
    border: 5px solid teal;
    padding: 15px;
    width: 100%;
    margin: 5px;
}


/*use these styles on large screens*/
@media screen and (min-width: 768px) {
    .columns{
        display: flex;
    }

    .one{
        flex: 1;
    }

    .two{
        flex: 2;
    }
    .three{
        flex: 3;
    }
    .four{
        flex: 4;
    }
}

.d {
    background: aqua;
    width: 200px;
    height: 200px;
}

.e {
        background: aqua;
    width: 200px;
    height: 200px;
}

.f {
        background: aqua;
    width: 200px;
    height: 200px;
}